accelerate==1.2.1
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
alembic==1.16.4
altair==5.3.0
altgraph==0.17.3
analytics-python==1.4.post1
annotated-types==0.6.0
anthropic==0.64.0
anyio==4.3.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.9.1
asttokens==2.2.1
async-lru==2.0.4
attrs==25.3.0
auto-py-to-exe==2.47.0
babel==2.16.0
backcall==0.2.0
backoff==1.10.0
bcrypt==4.3.0
beautifulsoup4==4.12.2
bleach==6.1.0
blinker==1.9.0
bottle==0.13.4
bottle-websocket==0.2.9
browserbase==1.4.0
build==1.3.0
cachetools==5.3.1
certifi==2025.8.3
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.1.0
chroma-hnswlib==0.7.6
chromadb==0.5.23
click==8.2.1
cohere==5.17.0
colorama==0.4.6
coloredlogs==15.0.1
comm==0.1.3
contourpy==1.1.0
crewai==0.165.1
crewai-tools==0.62.3
cryptography==41.0.1
cx-Oracle==8.3.0
cycler==0.11.0
dataclasses-json==0.6.7
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
diskcache==5.6.3
distro==1.9.0
dnspython==2.6.1
docker==7.1.0
docstring_parser==0.17.0
duckdb==0.8.1
duckduckgo_search==8.1.1
durationpy==0.10
Eel==0.18.2
email_validator==2.1.1
embedchain==0.1.128
et-xmlfile==1.1.0
exceptiongroup==1.1.3
executing==1.2.0
fastapi==0.111.0
fastapi-cli==0.0.3
fastavro==1.12.0
fastjsonschema==2.18.1
ffmpy==0.3.2
filelock==3.14.0
flatbuffers==25.2.10
fonttools==4.41.1
fqdn==1.5.1
frozenlist==1.7.0
fsspec==2024.5.0
future==1.0.0
gevent==25.9.1
gevent-websocket==0.10.1
google-api-core==2.25.1
google-api-python-client==2.183.0
google-auth==2.41.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
googleapis-common-protos==1.70.0
gptcache==0.1.44
gradio_client==0.16.4
greenlet==3.2.4
grpcio==1.74.0
gspread==5.11.3
h11==0.14.0
h2==4.2.0
hpack==4.1.0
httpcore==1.0.5
httplib2==0.22.0
httptools==0.6.1
httpx==0.27.0
httpx-sse==0.4.0
huggingface-hub==0.27.0
humanfriendly==10.0
hyperframe==6.1.0
idna==3.4
imbalanced-learn==0.11.0
importlib_metadata==8.7.0
importlib_resources==6.4.0
instructor==1.10.0
ipykernel==6.23.2
ipython==8.14.0
ipywidgets==8.0.7
isoduration==20.11.0
jedi==0.18.2
Jinja2==3.1.4
jiter==0.10.0
joblib==1.3.1
json5==0.12.1
json_repair==0.25.2
jsonpatch==1.33
jsonpickle==4.1.1
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.25.1
jsonschema-specifications==2023.7.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter-ui-poll==0.2.2
jupyter_client==8.2.0
jupyter_core==5.3.1
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab-widgets==3.0.8
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
kiwisolver==1.4.4
kubernetes==33.1.0
lancedb==0.24.3
langchain==0.3.27
langchain-cohere==0.3.5
langchain-community==0.3.27
langchain-core==0.3.74
langchain-experimental==0.3.4
langchain-openai==0.2.14
langchain-text-splitters==0.3.9
langsmith==0.3.45
litellm==1.74.9
lxml==6.0.0
Mako==1.3.10
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.26.1
matplotlib==3.7.2
matplotlib-inline==0.1.6
mdurl==0.1.2
mem0ai==0.1.116
mistune==3.0.2
mitosheet==0.2.2
mmh3==5.2.0
monotonic==1.6
mpmath==1.3.0
msal==1.22.0
multidict==6.6.4
mypy_extensions==1.1.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.9.2
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.8.1
nodeenv==1.9.1
notebook_shim==0.2.4
numpy==1.26.4
oauth2client==4.1.3
oauthlib==3.2.2
onnxruntime==1.22.0
openai==1.99.5
openpyxl==3.1.5
opentelemetry-api==1.36.0
opentelemetry-exporter-otlp-proto-common==1.36.0
opentelemetry-exporter-otlp-proto-grpc==1.36.0
opentelemetry-exporter-otlp-proto-http==1.36.0
opentelemetry-instrumentation==0.57b0
opentelemetry-instrumentation-asgi==0.57b0
opentelemetry-instrumentation-fastapi==0.57b0
opentelemetry-proto==1.36.0
opentelemetry-sdk==1.36.0
opentelemetry-semantic-conventions==0.57b0
opentelemetry-util-http==0.57b0
oracledb==1.4.1
orjson==3.10.3
outcome==1.2.0
overrides==7.7.0
packaging==25.0
pandas==2.2.0
pandasql==0.7.3
pandocfilters==1.5.1
parso==0.8.3
patsy==0.5.3
pdfminer.six==20250506
pdfplumber==0.11.7
pefile==2023.2.7
pickleshare==0.7.5
Pillow==10.0.0
platformdirs==3.6.0
playwright==1.54.0
plotly==5.15.0
plotly-express==0.4.1
portalocker==2.7.0
posthog==3.25.0
powerbiclient==3.0.2
primp==0.15.0
prometheus_client==0.21.0
prompt-toolkit==3.0.38
propcache==0.3.2
proto-plus==1.26.1
protobuf==5.29.5
psutil==5.9.5
psycopg2==2.9.9
pure-eval==0.2.2
pyarrow==21.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
pydub==0.25.1
pyee==13.0.0
Pygments==2.15.1
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.6
PyJWT==2.10.1
pyparsing==3.0.9
pypdf==5.9.0
PyPDF2==3.0.1
pypdfium2==4.30.0
PyPika==0.48.9
pyproject_hooks==1.2.0
pyreadline3==3.5.4
pyright==1.1.404
pysbd==0.3.4
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-json-logger==2.0.7
python-multipart==0.0.9
pytube==15.0.0
pytz==2025.2
pyvis==0.3.2
pywin32==306
pywin32-ctypes==0.2.2
pywinpty==2.0.14
PyYAML==6.0.1
pyzmq==25.1.0
qdrant-client==1.15.1
referencing==0.30.2
regex==2025.7.34
requests==2.32.5
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.10.4
rsa==4.9
ruff==0.4.4
safetensors==0.4.5
schema==0.7.7
scikit-learn==1.3.0
scipy==1.10.1
seaborn==0.12.2
selenium==4.35.0
semantic-version==2.10.0
Send2Trash==1.8.3
shellingham==1.5.4
six==1.16.0
sklearn==0.0.post5
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.43
stack-data==0.6.2
stagehand==0.5.1
starlette==0.37.2
statsmodels==0.14.0
sympy==1.13.1
tabulate==0.9.0
tenacity==9.1.2
terminado==0.18.1
threadpoolctl==3.1.0
tiktoken==0.11.0
tinycss2==1.4.0
tk==0.1.0
tokenizers==0.20.3
tomli==2.2.1
tomli_w==1.2.0
tomlkit==0.12.0
toolz==0.12.1
torch==2.5.1
tornado==6.3.2
tqdm==4.66.2
traitlets==5.9.0
transformers==4.47.1
trio==0.30.0
trio-websocket==0.12.2
typer==0.12.3
types-python-dateutil==2.9.0.20241003
types-requests==2.32.4.20250809
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2023.3
ujson==5.10.0
Unidecode==1.3.8
uri-template==1.3.0
uritemplate==4.2.0
urllib3==2.5.0
uv==0.8.12
uvicorn==0.29.0
watchfiles==0.21.0
wcwidth==0.2.6
webcolors==24.8.0
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==11.0.3
widgetsnbextension==4.0.8
wrapt==1.17.3
wsproto==1.2.0
xlrd==2.0.2
yarl==1.20.1
zipp==3.23.0
zope.event==6.0
zope.interface==8.0.1
zstandard==0.23.0
